h1,h2,p {
	margin: 0;
}
/* Commons */
.double-carret {
	position: relative;
	padding-right: 10px;
}
.double-carret:before,
.double-carret:after {
	position: absolute;
	top:50%;
	right:0;
	content:"";
	width: 0;
	height: 0;
	border-right: 3px solid transparent;
	border-left: 3px solid transparent;
}
.double-carret:before {
	border-bottom: 4px solid;
	margin-top: -4px;
}
.double-carret:after {
	border-top: 4px solid;
	margin-top: 1px;
}
.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Player form */
.player-form {
	overflow: hidden;
}
.player-form .form-group,
.player-form .submit-group {
	float:left;
	padding: 0 15px 0 0;
	width:30%;
}
.player-form .submit-group {
	width:10%;
	padding-right: 0;
}
.player-form .btn-submit-player {
	display: block;
	width:100%;
	margin-top: 25px;
}
/* Table */
.table {
	table-layout: fixed;
}
.table .sort-column {
	cursor: pointer;
}
.table .btn-delete {
	display:block;
	width:100%;
}
.table .center-text {
	text-align: center;
}
.table .th1 {
	width:10%;
}
.table .th2, .table .th3, .table .th4 {
	width:30%;
}
.table .cell-content {
	position: relative;
}
.table .cell-label {
	display: block;
	overflow: hidden;
	margin:0;
	padding:0 5px;
	white-space: nowrap;
	text-overflow:ellipsis;
	height: 34px;
	line-height: 34px;
	cursor: pointer;
	font-weight: normal;
	border-bottom: 1px solid #E0E0E0;
}
.table .cell-input {
	position: absolute;
	top:0;
	left:0;
	padding:6px;
}
.table .center-text .cell-input {
	text-align: center;
}
/* Thanks bootstrap */
.table-striped>tbody>tr:nth-child(even)>td:hover,
.table-striped>tbody>tr:nth-child(odd)>td:hover {
	background-color: #EEE;
}