h1,h2,p {
	margin: 0;
}
/* Player form */
.player-form {
	overflow: hidden;
}
.player-form .form-group,
.player-form .submit-group {
	float:left;
	padding: 0 15px 0 0;
	width:30%;
}
.player-form .submit-group {
	width:10%;
	padding-right: 0;
}
.player-form .btn-submit-player {
	display: block;
	width:100%;
	margin-top: 25px;
}
/* Table */
.table {
	table-layout: fixed;
}
.table .btn-delete {
	display:block;
	width:100%;
}
.table .center-text {
	text-align: center;
}
.table .th1 {
	width:10%;
}
.table .th2, .table .th3, .table .th4 {
	width:30%;
}
.table .cell-content {
	position: relative;
}
.table .cell-label {
	display: block;
	overflow: hidden;
	margin:0;
	padding:0 5px;
	white-space: nowrap;
	text-overflow:ellipsis;
	line-height: 34px;
	cursor: pointer;
	font-weight: normal;
}
.table .cell-input {
	position: absolute;
	top:0;
	left:0;
	padding:6px;
}
.table .center-text .cell-input {
	text-align: center;
}
/* Thanks bootstrap */
.table-striped>tbody>tr:nth-child(even)>td:hover,
.table-striped>tbody>tr:nth-child(odd)>td:hover {
	background-color: #EEE;
}